@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left
{
    margin-right: 50%;
    margin-top: 20px;
}

.right ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.right li{
    margin:0 20px;
}

.right li:hover
{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px white;
    
}

main
{
    background-image: url('https: //www.drivespark.com/images/2017-01/ford-endeavour-exterior-12.jpg');
}

.booking
{
    display: flex;
    justify-content: center;
}

.booking button
{
    text-transform: uppercase;
    border-radius: .15rem;
    width: 100px;
    padding: 2px 2px;
    letter-spacing: 2px;
    background-color: white;
    border: none;
    margin: 1%;

}



/* MAIN SECTION  */

main h1{
    display: flex;
    justify-content: center;
}
.cars
{
    width: 100%;
    align-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.car 
{
    position: relative;
    width: 390px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    transition: .9s;
}

.car:hover
{
    box-shadow: none;
}

.car:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    clip-path: circle(900px at 0% 0%);
    transition: 0.5s ease-in-out;
}

.car:hover:before {
    box-shadow: none;
    clip-path: circle(200px at 50% 90%);
}

.car_image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.car:hover .car_image {
    top: 0%;
    transform: translateY(-15%);
}

.car_image img 
{
    position: absolute;
    top: 40%;
    left: 50%;
    height: 200px;
    width: 90%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.car_details {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
}

.car:hover .car_details {
    height: 210px;
}



.car_details ul {
    list-style: none;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 1s;
}

.car:hover .car_details ul {
    opacity: 1;
    transition-delay: .4s;
}

.car_details li {
    margin: 5px;
}

.car_details a {
    display: inline-block;
    padding: 10px 20px;
    background: #000000;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.car:hover .car_details a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .2s;
}

.car_details h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
}

.car_name
{
    font-size: 35px;
    transform: translateY(-20px);
}


.car_price{
    opacity: 0;
    text-align: center;
    transition: .2s;
}

.car:hover .car_price
{
    opacity: 1;
    transition-delay: .5s;
}

/* MAIN END  */
