@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Philosopher&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
}

body {
    background-image: url("../images/urus.jpg");
}

h2 {
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 25px;
}

.FormBox {

    width: 450px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.276);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.833);
    
}

form {
    display: grid;
    justify-content: center;
    position: relative;
    top: 60px;
}

form label {
    font-size: 25px;
    font-variant: small-caps;
    font-weight: 300;
    word-spacing: -2px;
    margin: 5px;
}



form input {
    width: 315px;
    height: 25px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ffffffb9;
}

form textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #ffffffb9;
}

input[type=submit] 
{

    display: none;
}

.loginBtn {
    background-color: #fff;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 500;
    transition: .8s;
    height: 35px;
    width: 130px;
    text-align: center;
    position: relative;
    top: -2px;
    left: 100px;
}

.loginBtn:hover {
    background-color: #000;
    color: #fff;
}


h4
{
    width: 450px;
    height: 600px;
    background: rgba(255, 255, 255, 0.276);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.833);
    z-index: 200;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

h4 i
{
    position: absolute;
    font-size:x-large;
    left: 92%;
    bottom: 94%;
}

/* @ayaan */