@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'REM', sans-serif;
}

body {

    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

/* header start */

header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
}


/* menu button start  */

.menu-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    transform: translateY(-100%);
    height: 100%;
    width: 100%;
    transition: .5s;
}

.toggleMenu
{
    transform: translateY(0);
}

.active {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.menu-btns ul {

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btns li {
    list-style: none;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
    padding: 3px;
    border-radius: 5px;
    transition: .2s;

}

.menu-btns li:hover {
    box-shadow: 0 0 2px 1px #00000073;
}

.menu-btns li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #a8a4a4 0%, #dcdddf 52%, #e1d4d4 100%);
    clip-path: circle(5px at 50% 50%);
    transition: .5s;
}

.menu-btns li:hover::before {


    clip-path: circle(100%);
    box-shadow: none;
}


.menu-btns a {
    color: #000000;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    display: block;
    white-space: nowrap;

}

/* menu button end  */



.right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.right a {

    margin: 10px;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
    position: absolute;
    right: 11%;
    box-shadow: 0 0 5px 4px #00000017;
    background-color: #ffffff40;
}


.menu {
    height: 40px;
    width: 10vw;
    border: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: fixed;
    right: 1%;
    z-index: 300;
    box-shadow: 0 0 5px 4px #00000017;
    background-color: #ffffff40;
    backdrop-filter: blur(7px);
}

.threeLine div {
    border: solid #000000 2px;
    margin: 5px;
    width: 20px;
    position: block;
    left: 10%;
}

.menu span {
    font-size: 1.5vw;
    margin: 5px;
}



.clickedMenu {
    background-color: white;
}

/* header end  */



main {
    padding-bottom: 60px;
}



.main_image {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);
    transition: 1s;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}


.main_image img {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main_image h2 {
    position: absolute;
    display: block;
    color: #ffffff;
    font-weight: 100;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
}

.fa-arrow-circle-right {
    text-decoration: none;
    color: #ffffff;
}



/* MOST BOUGHT CAR SECTION START */
.mbc {
    margin: 20px;
}

.mbc h1 {
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cars {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.car 
{
    position: relative;
    width: 390px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: .9s;
}

.car:hover {
    box-shadow: none;
}

.car:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #a8a4a4 0%, #dcdddf 52%, #a8a4a4 100%);
    clip-path: circle(900px at 0% 0%);
    transition: 0.5s ease-in-out;
}

.car:hover:before {
    box-shadow: none;
    clip-path: circle(200px at 50% 90%);
}

.car_image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.car:hover .car_image {
    top: 0%;
    transform: translateY(-15%);
}

.car_image img {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 200px;
    width: 90%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}

.car_details {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
}

.car:hover .car_details {
    height: 210px;
}



.car_details ul {
    list-style: none;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 1s;
}

.car:hover .car_details ul {
    opacity: 1;
    transition-delay: .4s;
}

.car_details li {
    margin: 5px;
}

.car_details a {
    display: inline-block;
    padding: 10px 20px;
    background: #000000;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.car:hover .car_details a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .2s;
}

.car_details h2 {
    font-weight: 600;
    letter-spacing: 1px;
}

.car_name {

    font-size: 35px;
    transform: translateY(-20px);
    transition: .9s;
    text-transform: uppercase;
}

.car:hover .car_name {
    transform: translateY(0px);
}

.car_price {
    opacity: 0;
    transform: translateY(10px);
    text-align: center;
    transition: .2s;
    text-transform: capitalize;
}

.car:hover .car_price {
    opacity: 1;
    transition-delay: .5s;
}

/*MOST BOUGHT CAR SECTION END  */



/* footer start */

footer {
    background-color: #ffffff;
    

}

.socials {
    padding-top: 30px;
}

.socials ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    white-space: nowrap;
}

.socials li {
    list-style: none;
}

.socials a {
    text-decoration: none;
    color: inherit;
    font-family: 'Montserrat', sans-serif;
}

.footer_menu-btns ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_menu-btns li {
    list-style: none;
    margin: 10px;
}

.footer_menu-btns a {
    color: #000000;
    text-decoration: none;
}

.copyrights {
    text-align: center;
}

/* footer end  */

/* @ayaan */