* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

.loginAlert
{
    width: 500px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.276);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.833);
    z-index: 500;
    display: none;
}

.message
{
    background-color: #646464b1;
    height: 100px;
    overflow: hidden;
    position: relative;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message p
{
    color: #fafafa;
    text-transform: uppercase;
}

.action .loginRedirectBtn
{
    position: absolute;
    left: 10%;
    bottom: 35px;
    outline: none;
    border: 0;
    background-color: #6161618d;
    width: 100px;
    height: 30px;
    color: #fafafa;
    text-transform: uppercase;
    border-radius: 5px;
}
.action .okBtn
{
    position: absolute;
    right: 10%;
    bottom: 35px;
    outline: none;
    border: 0;
    background-color: #6161618d;
    width: 100px;
    height: 30px;
    color: #fafafa;
    text-transform: uppercase;
    border-radius: 5px;
}
.list ul {
    display: grid;
}

.list li {
    display: flex;
    height: 200px;
    width: 70%;
    margin: 15px;
    list-style: none;
    box-shadow: 0 0 15px 2px #00000041;
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.list img {
    height: 100%;
    width: auto;
}

.list div {
    margin: 20px;
}

.list h2 {
    font-size: xx-large;
    position: absolute;
    top: 5%;
    left: 30%;
    text-transform: uppercase;
}

.list i {
    font-size: 1vw;
}

.list p {
    margin: 10px;
    font-size: 1.2vw;
}

#booking {
    padding: 15px 15px;
    color: #000;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
    right: 1%;
    margin-top: 5px;
}

#booking:hover {
    background: #7a7a7a;
    color: #ffffff;
    box-shadow: 0 0 5px #7a7a7a3e,
        0 0 25px #7a7a7a3e,
        0 0 50px #7a7a7a3e,
        0 0 50px #7a7a7a3e;
}

.loginBtn {


    border-radius: 5px;
    padding: 20px 20px;
    text-decoration: none;
    color: #000000;
    position: absolute;
    right: 4%;
    box-shadow: 0 0 5px 4px #00000017;
    background-color: #ffffff40;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loginBtn i {
    font-size: x-large;
}

.loginArea {
    position: fixed;
    right: 0;
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.menu-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10%;
    top: 15%;

}


.menu-btns ul {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-btns li {
    list-style: none;
    margin: 20px;
    text-align: center;
    position: relative;
    padding: 3px;
    border-radius: 5px;
    transition: .2s;

}

.menu-btns a {
    color: #7a7a7a;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    margin-left: 7px;
    z-index: 200;

}

.line {
    height: 0;
    border: solid 2.5px #7a7a7a;
    width: 500px;
    position: absolute;
    bottom: -5px;
    left: 2%;
    transition: .1s, height .1s ease .1s;
    border-radius: 5px;
}

#home {
    right: 100%;
}

#aboutus {
    right: 70%;
}


#findcars {
    right: 50%;
}

#contactus {
    right: 20%;

}

.menu-btns li:hover .line {
    height: 30px;
    width: 100%;
    box-shadow: 0 0 5px 4px #00000017;
}

.cart
{
    font-size: xx-large;
    position: relative;
    right: 150px;
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    background-color: #00000000;
}


.details
{
    height: 60%;
    position: absolute;
    top: 60px;
    width: 70%;
    left:30%;
}

.brandForm {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 400px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.276);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    z-index: 400;
}


.addAmbc h2 {

    text-align: center;
    font-size: 2vw;
    position: relative;
    bottom: 20px;

}

.addAmbc form {
    position: relative;
    bottom: 10px;
}

.addAmbc form p {
    display: grid;
    margin: 10px;
}

.addAmbc .text {
    text-align: left;
    margin-left: 20px;
}


.addAmbc .textbox {
    border-radius: 10px;
    padding: 10px 10px;
    width: 300px;
    margin: 5px;
    border: none;
    box-shadow: 0 0 5px 0 #00000023;

}

.sendambc {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 30px;
    font-weight: 500;
    transition: .8s;
    box-shadow: 0 0 5px 0 #00000023;

}

.sendambc:hover {
    background-color: #000;
    color: #fff;
}

.cancel:hover {
    background-color: red;
}

input[type=submit],[type=none]
{
    display: none;
}

h5
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;
    text-align: center;
    white-space: nowrap;
}