@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Philosopher&family=Righteous&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
}

html,body
{
    display: grid;
    place-items: center; 
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: url("../images/urus.jpg");
}

.main
{
     
    /* background: linear-gradient(to top, #a8a4a4 0%, #dcdddf 52%, #a8a4a4 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.276);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.833);

}

.userForm h2 {

    text-align: center;
    font-size: 50px;
    position: relative;
    bottom: 35px;
    
}

.form 
{
    position: relative;
    bottom: 10px;
}

.form p
{
    display: grid;
    margin: 10px;
}

.text
{
    text-align: left;
    margin-left: 20px;
}

.textbox
{
    border-radius: 10px;
    padding: 10px 10px;
    width: 250px;
    width: 250px;
    margin: 5px;
    border: none;
}

.loginBtn
{
    background-color: #fff;
    border-radius: 5px;
    padding: 2px 40px;
    font-size: 30px;
    font-weight: 500;
    transition: .8s;
    margin: 0;
    
}

.loginBtn:hover
{
    background-color: #000;
    color: #fff;
}

.reset
{
    position: relative;
    top: 20px;
    transform: translateX(10px);
}

.reset i 
{
    font-size: 15px;
}

.reset a{

    text-decoration: none;
    color: #000;
    transition: .4s;
    padding: 1px;
    border-radius: 10px;
}

.reset a:hover{
    color: #ff0000;
}
input[type=checkbox],[type=submit]
{
    display: none;
    
}