* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 6vw;
    background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

.ambc {
    box-shadow: 0 0 20px 5px #00000045;
    height: auto;
    margin: 3% 0 3% 0;
    width: 90vw;
    padding: 10px;
}

.addBtn {
    width: 250px;
    font-size: large;
    margin-top: 15px;
    text-transform: uppercase;
}

.addBtn:hover {
    color: #00aaff;
}

.mainAMBC {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 650px;
    width: 900px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.276);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    text-transform: uppercase;
    z-index: 400;

}

.addAmbc h2 {

    text-align: center;
    font-size: xx-large;
    position: relative;
    bottom: 10px;

}

.addAmbc form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 10px;
}

.addAmbc form p {
    display: grid;
    margin: 10px;
}

.addAmbc .text {
    text-align: left;
    margin-left: 20px;
}


.addAmbc .textbox {
    border-radius: 10px;
    padding: 10px 10px;
    width: 300px;
    margin: 5px;
    border: none;
    box-shadow: 0 0 5px 0 #00000023;

}

.mainRupees {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 10px;
}

#price {
    width: 120px;
    position: relative;
    left: 10px;
}

#rupees {
    width: 150px;
    position: relative;
    left: 10px;
}

#ratting {
    padding: 2px 40px;
}

#Eprice {
    width: 120px;
    position: relative;
    left: 10px;
}

#Erupees {
    width: 150px;
    position: relative;
    left: 10px;
}

#Eratting {
    padding: 2px 40px;
}

select {


    margin: 5px;
    border: 0;
    outline: 0;
    width: 320px;
    height: 35px;
    padding: 10px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #00000023;
    cursor: pointer;
}

option {
    color: inherit;
}

.sendambc {
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: 500;
    transition: .8s;

}

.sendambc:hover {
    background-color: #000;
    color: #fff;
}

.cancel:hover {
    background-color: red;
}

input[type=submit],
[type=none] 
{
    display: none;
}


h5 {
    position: absolute;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}


.list ul {
    display: grid;
}

.list li {
    display: flex;
    height: 200px;
    width: 70%;
    margin: 15px;
    list-style: none;
    box-shadow: 0 0 15px 2px #00000041;
    padding: 5px;
    overflow: hidden;
}

.list img {
    height: 100%;
    width: auto;
}

.list div {
    margin: 20px;
}

.list h2 {
    font-size: 2vw;
    position: relative;
    top: 5%;
    left: 3%;
    text-transform: uppercase;
}

.list i {
    font-size: 1vw;
}

.list p {
    margin: 10px;
    font-size: 1.2vw;
}

.list button {
    border-radius: 0;
    box-shadow: none;
    border: none;
    width: auto;
    margin-left: auto;
    transition: .7s;
    transition-delay: .3s;
    padding: 5px;
    background-color: black;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 0 5px 4px #00000017;
    background-color: #05050576;
    backdrop-filter: blur(10px);
}

.loginBtn {


    border-radius: 5px;
    padding: 20px 20px;
    text-decoration: none;
    color: #000000;
    position: absolute;
    right: 4%;
    box-shadow: 0 0 5px 4px #00000017;
    background-color: #ffffff40;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loginBtn i {
    font-size: x-large;
}

.loginArea {
    position: fixed;
    right: 0;
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.menu-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 10%;
    top: 15%;

}


.menu-btns ul {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-btns li {
    list-style: none;
    margin: 20px;
    text-align: center;
    position: relative;
    padding: 3px;
    border-radius: 5px;
    transition: .2s;

}

.menu-btns a {
    color: #7a7a7a;
    text-decoration: none;
    position: relative;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    margin-left: 7px;
    z-index: 200;

}

.line {
    height: 0;
    border: solid 2.5px #7a7a7a;
    width: 500px;
    position: absolute;
    bottom: -5px;
    left: 2%;
    transition: .2s, height .2s ease .2s;
    border-radius: 5px;
}

#home {
    right: 100%;
}

#aboutus {
    right: 70%;
}


#findcars {
    right: 50%;
}

#contactus {
    right: 20%;

}

.menu-btns li:hover .line {
    height: 30px;
    width: 100%;
    box-shadow: 0 0 5px 4px #00000017;
}

.cart {
    font-size: xx-large;
    position: absolute;
    left: 5%;
}

.details {
    height: 60%;
    position: relative;
    top: 60px;
    width: 100%;
    left: -5%;
}